In [17]:
marks = int(input('Enter the marks'))
if marks >= 80:
    print("you will be a part of A0 batch")
elif marks >= 60 and marks< 80:
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60:
    print("you will be a part of A2 batch")
else:
    print("you will be a part of A3 batch")

Enter the marks 54

you will be a part of A2 batch

In [11]:
marks =input("Enter the number")

Enter the number 65

In [12]:
marks

'65'

In [13]:
type(marks)

str

In [14]:
marks =int(input("Enter the number"))

Enter the number 54

In [15]:
marks

54

In [16]:
type(marks)

int

In [19]:
price = int(input("Enter the price"))
if price > 1000:
    print("i will not purchase")
else :
    print("i will purchase")

Enter the price 7450

i will not purchase

In [43]:
price = int(input("Enter the price"))
if price > 1000:
    print("i will not purchase")
    if price > 5000:
        print("this is too much")
    elif price < 2000 :
            print("its ok")
elif price < 1000 :
    print("i will purchage")
          
else :
    print("not interested")

Enter the price 6524

i will not purchase
this is too much

In [47]:
l = [6,5,6,5,9,5,2,65,6,5,1]
#all element +1

In [10]:
for i in l :
    print(i+1)

7
5
7
5
9
5
6

In [73]:
l = ["Prince","Kumar","PW"]

In [63]:
l1 = []
for i in l:
    print(i)
    l1.append(i.upper())

Prince
Kumar
PW

In [64]:
l1

['PRINCE', 'KUMAR', 'PW']

In [65]:
l = [5,5,2,6,4,6,"Prince","abc",466.2]

In [67]:
l1 = []
l2 = []
for i in l :
    if type(i) == int or type(i)==float:
        l1.append(i)
    else :
        l2.append(i)

In [70]:
l1

[5, 5, 2, 6, 4, 6, 466.2]

In [71]:
l2

['Prince', 'abc']

In [4]:
l=[6,4,6,4,8,4,5]

In [11]:
for i in l :
    print(i , type(i))

6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
8 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [21]:
l1 =[ "prince","kumar","raju"]

In [22]:
for i in l1 :
    print(i)

prince
kumar
raju

In [23]:
for i in l1 :
    print(i)
else :
    print('do somthing')
    ''' if for loop is able to complete
    itself then only else will execute'''

prince
kumar
raju
do somthing

In [24]:
for i in l1 :
    if i == "kumar":
        break
    print(i)

prince

In [25]:
l1

['prince', 'kumar', 'raju']

In [26]:
for i in l1:
    if i == "kumar":
        break
    print(i)
else :
    print("execute this if for loop is able to complete itself")

prince

In [36]:
for i in l1 :
    if i == "kumar":
        continue
    print(i)

prince
raju